/* ===================
   CSS GRID & FLEXBOX
   ===================
*/
/* BASIC STYLING */
html,
body {
    background-color: #ffeead;
    margin: 10px;
    font-size: 20px;
}

p {
    color: #96ceb4;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-header {
    background-color: #96ceb4;
    color: #ffeead;
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

/* FLEXBOX STYLINGS */

.grid-container > div {
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.flex-header > div:nth-of-type(1) {
    margin-right: 25px;
}

.logout {
    margin-left: auto;
}


/* ===================
       NAMED-LINES
   ===================
*/

/* .container {
    height: 100%;
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
}

.header {
    grid-column: main-start / main-end;
}

.menu {
    
}

.content {
    grid-column: content-start / content-end;
}

.footer {
    grid-column: main-start / main-end;
} */


/* ===================
   GRID-TEMPLATE-AREAS
   ===================
*/

/* .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        ". . h h  h h h h  h h h ."
        "m m c c  c c c c  c c c c"
        ". . f f  f f f f  f f f .";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
} */