.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
    /* grid-row: 1; */
    grid-column: 4 / -1;
}

.menu {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.content {
    grid-column: 4 / -1;
}

.footer {
    /* grid-row: 3 / -1; */
    grid-column: 4 / -1;
}